* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #38bdf8;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 60px 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill {
    padding: 10px 20px;
    background: #1e293b;
    border-radius: 20px;
}

/* Projects */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
